/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background:#333;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}


ul {
    list-style: none;
}

/* UTILITIES */

.u-flex {
    display: flex;
}

.u-justifyBtw {
    justify-content: space-between;
}

.u-justifyCtr {
    justify-content: center;
}

.u-wrap {
    flex-wrap: wrap;
}

.u-alignCtr {
    align-items: center;
}

.u-relative {
    position: relative;
}

.u-absolute {
    position: absolute;
}

/* LAYOUT */
/* Header */
.Header {
    height: 80px;
    background: #000;
    padding: 0 30px;
}

.Header-logo {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: red;
    font-weight: 900;
    user-select: none;
}

.Header-searchBar #SearchInput {
    height: 30px;
    width: 300px;
    padding: 0 20px;
    border-radius: 15px;
    border-style: none;
    outline: none;
    font-family: 'Roboto';
    font-size: 1.2em;
    line-height: 30px;
    vertical-align: middle;
}

.Header-searchBar #SearchInput:focus {
    box-shadow: 0px 0px 2px 2px rgb(0, 162, 255);
}

.Header-searchBar #SearchButton {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border-style: none;
    font-size: .9em;
    margin-left: 5px;
    background: red;
    color: #fff;
    cursor: pointer;
}

.Header-searchBar #SearchButton i {
    vertical-align: top;
}

/* Main */
.Results-card {
    margin: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 342;
    height: 517;
}

.Results-card img {
    object-fit: cover;
    vertical-align: top;
}

.Movie {
    opacity: 0;
    width: 342px;
    height: 100%;
    padding: 140px 15px;
    background: rgba(0, 0, 0, .9);
    line-height: 26px;
    top: 0;
    left: 0;
    transition: opacity .2s linear;
}

.Movie:hover {
    opacity: 1;
}

.Movie li span:first-child {
    font-weight: 700;
}

.Movie li span:nth-child(2) {
    font-weight: 300;
}

.Movie-vote span:last-child {
    color: rgb(255, 208, 0);
}

.NoResults {
    opacity: 0;
    margin-top: 80px;
    color: #ccc;
    font-size: 1.8em;
    font-weight: 300;
}

.Loader {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    min-height: calc(100vh - 80px);
    width: 100%;
    opacity: 0;
    background: red;
    transition: opacity .4s;
}

.Loader.is-active {
    opacity: 1;
    z-index: 1;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

@media all and (max-width: 375px) {
    .Header {
        height: 105px;
        flex-direction: column;
        padding: 15px 0 15px 0;
    }

    .Loader {
        min-height: calc(100vh - 105px);
    }

    input[type=checkbox]:checked + .Movie {
        opacity: 1;
    }
}